@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Serif+Pro:400,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif;
}
